<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sa.mall.commodity.dao.MallCommodityDao">

    <resultMap id="MallCommodityVO" type="sa.mall.commodity.domain.vo.MallCommodityVO">
            <result column="id" property="id" />
            <result column="commodity_code" property="commodityCode" />
            <result column="category_id" property="categoryId" />
            <result column="commodity_type" property="commodityType" />
            <result column="asset_ref" property="assetRef" />
            <result column="commodity_name" property="commodityName" />
            <result column="commodity_intro" property="commodityIntro" />
            <result column="cover_file_id" property="coverFileId" />
            <result column="detail_content" property="detailContent" />
            <result column="exchange_notice" property="exchangeNotice" />
            <result column="pay_type" property="payType" />
            <result column="original_price" property="originalPrice" />
            <result column="points_price" property="pointsPrice" />
            <result column="cash_price" property="cashPrice" />
            <result column="limit_period" property="limitPeriod" />
            <result column="limit_count" property="limitCount" />
            <result column="start_time" property="startTime" />
            <result column="end_time" property="endTime" />
            <result column="status" property="status" />
            <result column="is_home" property="isHome" />
            <result column="sort" property="sort" />
            <result column="sold_count" property="soldCount" />
            <result column="create_by" property="createBy" />
            <result column="create_time" property="createTime" />
            <result column="update_by" property="updateBy" />
            <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="base_columns">
                id, 
                commodity_code, 
                category_id, 
                commodity_type, 
                asset_ref, 
                commodity_name, 
                commodity_intro, 
                cover_file_id, 
                detail_content, 
                exchange_notice, 
                pay_type, 
                original_price, 
                points_price, 
                cash_price, 
                limit_period, 
                limit_count, 
                start_time, 
                end_time, 
                status, 
                is_home, 
                sort, 
                sold_count, 
                create_by, 
                create_time, 
                update_by, 
                update_time
    </sql>

    <sql id="query_conditions">
        <where>
                        <if test="queryForm.commodityCode != null">
                            AND commodity_code = #{queryForm.commodityCode}
                        </if>
                        <if test="queryForm.commodityType != null">
                            AND commodity_type = #{queryForm.commodityType}
                        </if>
                        <if test="queryForm.commodityName != null">
                            AND commodity_name = #{queryForm.commodityName}
                        </if>
                        <if test="queryForm.payType != null">
                            AND pay_type = #{queryForm.payType}
                        </if>
        </where>
    </sql>

    <select id="queryPage" resultMap="MallCommodityVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_mall_commodity
        <include refid="query_conditions"/>
        ORDER BY create_time DESC
    </select>

    <select id="queryList" resultMap="MallCommodityVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_mall_commodity
        <include refid="query_conditions"/>
        ORDER BY create_time DESC
    </select>

                <delete id="batchDelete">
                    delete from t_mall_commodity
                    where id in
                    <foreach collection="idList" open="(" close=")" separator="," item="item">
                        #{item}
                    </foreach>
                </delete>
                <delete id="deleteById">
                    delete from t_mall_commodity
                        where id = #{id}
                </delete>

</mapper>