<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sa.draw.prizemapping.dao.PoolPrizeMappingDao">

    <resultMap id="PoolPrizeMappingVO" type="sa.draw.prizemapping.domain.vo.PoolPrizeMappingVO">
            <result column="id" property="id" />
            <result column="pool_code" property="poolCode" />
            <result column="prize_item_id" property="prizeItemId" />
            <result column="probability" property="probability" />
            <result column="is_fallback" property="isFallback" />
            <result column="sort_weight" property="sortWeight" />
            <result column="create_by" property="createBy" />
            <result column="create_time" property="createTime" />
            <result column="update_by" property="updateBy" />
            <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="base_columns">
                id, 
                pool_code, 
                prize_item_id, 
                probability,

                is_fallback,
                sort_weight, 
                create_by, 
                create_time, 
                update_by, 
                update_time
    </sql>

    <sql id="query_conditions">
        <where>
        </where>
    </sql>

    <select id="queryPage" resultMap="PoolPrizeMappingVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_pool_prize_mapping
        <include refid="query_conditions"/>
        ORDER BY create_time DESC
    </select>

    <select id="queryList" resultMap="PoolPrizeMappingVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_pool_prize_mapping
        <include refid="query_conditions"/>
        ORDER BY create_time DESC
    </select>

                <delete id="batchDelete">
                    delete from t_pool_prize_mapping
                    where id in
                    <foreach collection="idList" open="(" close=")" separator="," item="item">
                        #{item}
                    </foreach>
                </delete>
                <delete id="deleteById">
                    delete from t_pool_prize_mapping
                        where id = #{id}
                </delete>

</mapper>