/*
 * Solvela 独有的样式
 *
 * @Author:    1024创新实验室-主任：卓大
 * @Date:      2022-09-12 14:43:01
 * @Wechat:    zhuda1024
 * @Email:     lab1024@163.com
 * @Copyright  1024创新实验室 （ https://1024lab.net ），Since 2012
 */

/**********************************  宽度 **********************************/
.solvela-width-100 {
  width: 100%;
}

/**********************************  左间距 **********************************/
.solvela-margin-left5 {
  margin-left: 5px;
}

.solvela-margin-left10 {
  margin-left: 10px;
}

.solvela-margin-left15 {
  margin-left: 15px;
}

.solvela-margin-left20 {
  margin-left: 20px;
}

/**********************************  右间距 **********************************/
.solvela-margin-right5 {
  margin-right: 5px;
}

.solvela-margin-right10 {
  margin-right: 10px;
}

.solvela-margin-right15 {
  margin-right: 15px;
}

.solvela-margin-right20 {
  margin-right: 20px;
}

/******************************** 上间距 ********************************/
.solvela-margin-top5 {
  margin-top: 5px;
}

.solvela-margin-top10 {
  margin-top: 10px;
}

/******************************** 下间距 ********************************/
.solvela-margin-bottom5 {
  margin-bottom: 5px;
}

.solvela-margin-bottom10 {
  margin-bottom: 10px;
}
/******************************** 查询表格样式 ********************************/

.solvela-table-operate {
  .ant-btn {
    padding: 0 3px !important;
    height: auto;
  }
}

.solvela-table-column-operate {
  float: right;
}

.solvela-query-form-row:not(:first-child) {
  margin-top: 8px;
}

.solvela-query-form-row .solvela-query-form-item {
  margin-right: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.solvela-query-table-page {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.solvela-table-btn-block {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .solvela-table-operate-block {
    .ant-btn {
      margin-right: 12px;
    }
  }

  .solvela-table-setting-block {
    float: right;
  }
}
