<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${daoClassName}">

    <resultMap id="${name.upperCamel}VO" type="${basic.javaPackageName}.domain.vo.${name.upperCamel}VO">
        #foreach ($field in $fields)
            <result column="${field.columnName}" property="${field.fieldName}" />
        #end
    </resultMap>

    <sql id="base_columns">
            #foreach ($field in $fields)
                ${field.columnName}#if($foreach.hasNext), #end
            #end
    </sql>

    <sql id="query_conditions">
        <where>
            #if($deleteInfo.isSupportDelete && !${deleteInfo.isPhysicallyDeleted})
                AND deleted_flag = 0
            #end
            #if($queryFields.size() > 0)
                #foreach ($queryField in $queryFields)
                    #if(${queryField.queryTypeEnum} == "Like")
                        <if test="queryForm.${queryField.fieldName} != null and queryForm.${queryField.fieldName} != ''">
                            AND ${queryField.columnName} LIKE CONCAT('%', #{queryForm.${queryField.fieldName}}, '%')
                        </if>
                    #end
                    #if(${queryField.queryTypeEnum} == "Dict" || ${queryField.queryTypeEnum} == "String")
                        <if test="queryForm.${queryField.fieldName} != null and queryForm.${queryField.fieldName} != ''">
                            AND ${queryField.columnName} = #{queryForm.${queryField.fieldName}}
                        </if>
                    #end
                    #if(${queryField.queryTypeEnum} == "Equal" || ${queryField.queryTypeEnum} == "Enum")
                        <if test="queryForm.${queryField.fieldName} != null">
                            AND ${queryField.columnName} = #{queryForm.${queryField.fieldName}}
                        </if>
                    #end
                    #if(${queryField.queryTypeEnum} == "Date")
                        <if test="queryForm.${queryField.fieldName} != null">
                            AND DATE(${queryField.columnName}) = #{queryForm.${queryField.fieldName}}
                        </if>
                    #end
                    #if(${queryField.queryTypeEnum} == "DateRange")
                        <if test="queryForm.${queryField.fieldName}Begin != null">
                            AND ${queryField.columnName} &gt;= #{queryForm.${queryField.fieldName}Begin}
                        </if>
                        <if test="queryForm.${queryField.fieldName}End != null">
                            AND ${queryField.columnName} &lt;= #{queryForm.${queryField.fieldName}End}
                        </if>
                    #end
                #end
            #end
        </where>
    </sql>

    <select id="queryPage" resultMap="${name.upperCamel}VO">
        SELECT
        <include refid="base_columns"/>
        FROM ${tableName}
        <include refid="query_conditions"/>
        ORDER BY create_time DESC
    </select>

    <select id="queryList" resultMap="${name.upperCamel}VO">
        SELECT
        <include refid="base_columns"/>
        FROM ${tableName}
        <include refid="query_conditions"/>
        ORDER BY create_time DESC
    </select>

    #if($deleteInfo.isSupportDelete)
        #if(!${deleteInfo.isPhysicallyDeleted})
            #if($deleteInfo.deleteEnum == "Batch" || $deleteInfo.deleteEnum == "SingleAndBatch")
                <update id="batchUpdateDeleted">
                    update ${tableName} set deleted_flag = #{deletedFlag}
                    where ${primaryKeyColumnName} in
                    <foreach collection="idList" open="(" close=")" separator="," item="item">
                        #{item}
                    </foreach>
                </update>
            #end
            #if($deleteInfo.deleteEnum == "Single" || $deleteInfo.deleteEnum == "SingleAndBatch")
                <update id="updateDeleted">
                    update ${tableName} set deleted_flag = #{deletedFlag}
                    where ${primaryKeyColumnName} = #{${primaryKeyFieldName}}
                </update>
            #end
        #else
            #if($deleteInfo.deleteEnum == "Batch" || $deleteInfo.deleteEnum == "SingleAndBatch")
                <delete id="batchDelete">
                    delete from ${tableName}
                    where ${primaryKeyColumnName} in
                    <foreach collection="idList" open="(" close=")" separator="," item="item">
                        #{item}
                    </foreach>
                </delete>
            #end
            #if($deleteInfo.deleteEnum == "Single" || $deleteInfo.deleteEnum == "SingleAndBatch")
                <delete id="deleteById">
                    delete from ${tableName}
                        where ${primaryKeyColumnName} = #{${primaryKeyFieldName}}
                </delete>
            #end
        #end
    #end

</mapper>